[Unit]
Description=Tests the Waggle extension node.
After=waggle-init.service

[Service]
WorkingDirectory=/usr/lib/waggle/guestnode/
ExecStart=/usr/lib/waggle/guestnode/scripts/test-service

[Install]
# Uncomment to run automatically when systemd starts
#WantedBy=multi-user.target
