[Unit]
Description=Tests the Waggle extension node.

[Service]
Type=OneShot
WorkingDirectory=/usr/lib/waggle/guestnode/
ExecStart=/usr/lib/waggle/guestnode/scripts/test-service.sh

[Install]
WantedBy=multi-user.target
