[Unit]
Description=Tests the Waggle extension node.

[Service]
Type=oneshot
WorkingDirectory=/usr/lib/waggle/guestnode/
ExecStart=/usr/lib/waggle/guestnode/scripts/test-service.sh

[Install]
# Uncomment to run automatically when systemd starts
#WantedBy=multi-user.target
