[Unit]
Description=Audio clip collector

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/waggle/edge_processor/audio/pipeline/example_audio.py