[Unit]
Description=Audio clip collector

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 -u /usr/lib/waggle/edge_processor/audio/collector/audio_collector.py
