[Unit]
Description=Image Collector

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/lib/waggle/edge_processor/image/pipeline/image_collector.py
