[Unit]
Description=Tests the Waggle extension node.
After=waggle-init.service

[Service]
WorkingDirectory=/usr/lib/waggle/edge_processor/
ExecStart=/usr/lib/waggle/edge_processor/scripts/test-service

[Install]
WantedBy=multi-user.target
