[Unit]
Description=Image Producer
After=waggle-platform.target

[Service]
ExecStart=/usr/bin/python3 -u /usr/lib/waggle/edge_processor/image/producer/image_producer.py

Restart=always
RestartSec=10

[Install]
WantedBy=waggle-platform.target
