[Unit]
Description=brain tests for the Waggle Edge Processor
After=waggle-platform.target

[Service]
WorkingDirectory=/usr/lib/waggle/edge_processor/
ExecStart=/usr/lib/waggle/edge_processor/scripts/test-service

[Install]
WantedBy=waggle-platform.target
