[Unit]
Description=Runs waggle-audio-collector.service every 15 minutes.
After=waggle-platform.target
ConditionPathExists=/root/fs_locked

[Timer]
OnBootSec=300s
OnCalendar=*:0/15

[Install]
WantedBy=waggle-platform.target
