[Unit]
Description=Audio clip collector
After=waggle-platform.target

ConditionPathExists=/root/fs_locked

[Service]
ExecStart=/usr/bin/python3 -u /usr/lib/waggle/edge_processor/audio/collector/audio_collector.py

Restart=on-failure
RestartSec=30

[Install]
WantedBy=waggle-platform.target
