[Unit]
Description=Example image processor

ConditionPathExists=/root/fs_locked

[Service]
ExecStart=/usr/bin/python3 -u /usr/lib/waggle/edge_processor/image/pipeline/example_processor.py

Restart=always
RestartSec=30